@import url('https://fonts.googleapis.com/css?family=PT+Sans:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  color: white;
}
